/Radital-EG.Server/.vs
/Radital-EG.Server/HospitalRequestsAPI/bin
/Radital-EG.Server/RadiologistAPI/bin
/Radital-EG.Server/RadiologistAPI/obj
/Radital-EG.Server/HospitalRequestsAPI/obj
/Radital-EG.Server/Infrastructure/obj
/Radital-EG.Server/Infrastructure/bin
/Radital-EG.Server/Radital-EG-Server/obj
/Radital-EG.Server/Domain/bin
/Radital-EG.Server/Domain/obj
/Radital-EG.Server/HospitalRequestsAppCore/bin
/Radital-EG.Server/HospitalRequestsAppCore/obj
/Radital-EG.Server/RadiologistAppCore/obj
/Radital-EG.Server/RadiologistAppCore/bin
